---
---

@charset "utf-8";

@font-face {
  font-family: "Binggrae";
  src:
    local("Binggrae II"),
    local("BinggraeII"),
    url("/assets/fonts/BinggraeII.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Binggrae";
  src:
    local("Binggrae Bold"),
    local("Binggrae-Bold"),
    url("/assets/fonts/Binggrae-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "base";
